---
layout: default
---

<h1> You might want to checkout : </h1>

<div class="posts">
  {% for feature in site.featured %}
    {% if feature.repo == null %}
      <div class="github-card" data-user="{{ feature.author }}"></div>
    {% elsif feature.author == null %}
      <div class="github-card" data-user="{{ site.name }}" data-repo="{{ feature.repo }}"></div>
    {% else %}
      <div class="github-card" data-user="{{ feature.author }}" data-repo="{{ feature.repo }}"></div>
    {% endif %}
  {% endfor %}

  {% for post in site.categories.featured %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <div class="date">
        Written on {{ post.date | date: "%B %e, %Y" }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
