---
layout: default
---

<h1> Welcome ! Sorry but the site is still in progress !

<div class="posts">
  {% for feature in site.featured %}
    {% case feature.type %}
      {% when "user" %}
        <div class="github-card" data-user="{{ feature.author }}"></div>
      {% when "repo" %}
        {% if feature.author == null %}
          <div class="github-card" data-user="{{ site.name }}" data-repo="{{ feature.name }}"></div>
        {% else %}
          <div class="github-card" data-user="{{ feature.author }}" data-repo="{{ feature.name }}"></div>
        {% endif %}
      {% when "post" %}
        {% for post in site.posts %}
          <h2>{{ post.url }}</h2>
          {% if post.url == feature.url %}
            <article class="post">

              <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

              <div class="entry">
                {{ post.excerpt }}
              </div>

              <div class="date">
                Written on {{ post.date | date: "%B %e, %Y" }}
              </div>

              <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
            </article>
          {% endif %}
        {% endfor %}
    {% endcase %}
  {% endfor %}
</div>

<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
