---
layout: default
---

<div style="width: 100%; display: table;">
  <table>
    <colgroup>
      <col style="width: 49%" />
      <col style="width: 49%" />
    </colgroup>
      <tr>
        <h3> personal projects </h3>

        <div>
          {% for repository in site.repositories %}
            <div class="github-card" data-user="{{ site.name }}" data-repo="{{ repository }}"></div>
          {% endfor %}
        </div>

      </tr>
      <tr>

        <h3> featured or used projects </h3>

        <div>
          {% for repository in site.featured %}
            <div class="github-card" data-user="{{ repository.author }}" data-repo="{{ repository.name }}"></div>
          {% endfor %}
        </div>

      </tr>
    </table>
  </div>
</div>




<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
